<html>
      <body>
       <h1> O TUBARÃO MARTELO ESTÁ NA ÁREA.</h1>

<!-- É A INFORMAÇÃO QUE APARECERÁ NO BROWSER DEPOIS QUE O SERVIDOR(do arquivo aplicacaoEJS.js) SUBIR PELO NODEJS-->
      </body>
</html>      
